@import url(http://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);
 
body{min-width:1200px;height:10431 px;font-family: 'Open Sans', sans-serif;
   font-family: 'Playfair Display', serif;}

.heade-nav{width: 900px;height: 54px;margin-left: auto;margin-right: auto;}
.naw{ display: flex;flex-direction: row;align-items: center;justify-content: space-between;}
.list{display: flex;list-style: none;flex-direction: row;column-gap: 10 px;}
.list li{padding: 10px 10px;}
.list li{color:#211F54;}
.home{margin-left: - 10px;}
.conteiner{width: 536px;height: 252px;margin-top: 150px;}
.conteiner h1{color:#211F54;}
.conteiner p{color:#6E7191;}
.ssection{display: flex;flex-direction: row;}
button{background-color:#0075FF;border-radius: 20%;cursor: pointer;
   width: 154px;
   height: 24px;
   right: 0px;
   top: calc(50% - 54px/2);
   
}
button span{color: azure;}
.conteiner section{display: flex;align-items: center;justify-content: space-between;}